.grid {
    width: 800px;
    height: 840px;
    background-image: url('plainBoard.png');
    background-size: cover;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.square {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0.8;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.pos{
    background-color: transparent;
    font-size: 1.2rem;
    color: black;
}

.about-pos{
    background-color: transparent;
}

.player {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
}

.player-0 {
    top: 10%;
    left: 10%;
}

.player-1 {
    top: 10%;
    right: 10%;
}

.player-2 {
    bottom: 10%;
    left: 10%;
}

.player-3 {
    bottom: 10%;
    right: 10%;
}
