.contentLeft {
    width: 80%;
}

.body{
    padding: 1rem 4rem;
    gap: 10rem;
}

.contentRight {
    width: 50%;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
}